@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono";
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* banner section styles here*/
.banner-content p{
height: 650px;
left: 260.67%;
top: 0%;
bottom: 0%;
}
.banner-container{
max-width: 1440px;
margin: 0 auto;
min-height: 600px;
margin-top: 50px;
background-image: url("/assets/Hero-bg.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}
.banner-content h1{
color: rgb(13, 19, 33);
font-family: "Azeret Mono";
font-size: 45px;
font-weight: 700;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
.banner-content p, h6{
color: rgb(13, 19, 33);
font-family: "Azeret Mono";
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.btn-primary{
background-color: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: "Azeret Mono";
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
margin: 32px 0px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
}

/* second section styles starts here */
.second-section-container{
width: 1140px;
height: 1395px;
border: 2px solid red;
margin: 0 auto;
margin-top: 90px;
}
.second-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    align-items: center;
}
.group-container{
    display: flex;
}
.left-side-content{
    width: 50%;
    height: 250px;
    border: 2px solid red;
}
.right-side-content{
    width: 50%;
    height: 250px;
    border: 2px solid red;
}
.group-two-container{
    display: flex;
}
.group-three-container{
    display: flex;
}
.btn-secondary{
height: 24px;
width: 109px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
}
/* inspiration section styles here */
.motivational-section{
   width: 1140px;
   height: 600px;
   border: 2px solid red;
}
.motivational-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.motivational-video{
    flex: none;
    margin-left: 300px;
    margin-top: 50px;
}
   .skills-container{
    display: flex;
    gap: 24px;
    border: 0px;
    width: 1150px;
    height: 460px;
   }
   .skill{
    padding: 30px;
   }
   .handshake{
position: absolute;
width: 1140px;
height: 314px;
left: 1550px;
right: 150px;
top: 1752px;
bottom: 179px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 64px 48px 64px 48px;
border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
} 